body {
  background-color: #f2f2f2;
}

#landing-page {
  margin-top: 4.5em;
  margin-bottom: 6em;
  text-align: center;
}

#profile-picture {
  height: 10em;
  border-radius: 50%;
  margin-bottom: 2em;
}

#alias {
  font-size: 1.5em;
}

#info-summary {
  margin-top: 2em;
}
